form {
    
    font-family: Maven Pro;
    position: relative;
    margin-left: 40%;
    margin-right: 40%;
}
.mb-3 {
    width: 30vh;
}   
.form-select{
    margin-left: -8.5vh;
}
.form-check{
    margin-left: 7vh;
}
.btn-primary{
    margin-left: 11vh;
    text-decoration: none;
}
#op-drop{
    text-align: center;
}
#email{
    margin-left: 12vh;
}
.form-text{
    margin-left: 4vh;
}
#senha{
    margin-left: 12vh; 
}
.rodape {
    margin-top: -34vh;
}

