form {
    
    font-family: Maven Pro;
    position: relative;
    margin-left: 40%;
    margin-right: 40%;
}
.mb-3 {
    width: 20vw;
    margin-left: 2vw;
}   
.form-select{
    margin-left: -7.7vw;
}
.form-check{
    margin-left: 9vw;
}
.btn-primary{
    margin-left: 10.7vw;
    text-decoration: none;
}
#op-drop{
    text-align: center;
}
#email{
    margin-left: 9vw;
}
.form-text{
    margin-left: 5vw;
}
#senha{
    margin-left: 8.7vw; 
}
.rodape {
    margin-top: -34vh;
}

