#ct {
    margin-top: 15vh;
    font-family: Maven Pro;
    font-size: 7vh;
    text-shadow: 0.3vh 0.3vh goldenrod;
}
.cts {
    font-family: Maven Pro;
    font-size: 5vh;
    text-shadow: 0.3vh 0.3vh goldenrod;
}
.rodape {
    margin-top: -57.4vh;
}