body {
    margin-left: ;
    margin-top: ;
}
#msg {
    height: 200px;
    width: 400px;
    margin-left: 4%;
}
input {
    background-image: linear-gradient(to right,#d554ff, #9469f0, #bb13f2, #f06bff);
    text-align: center;
    
    
}
::placeholder {
    color: black;
    text-shadow: 1px 1px whitesmoke;
}
#salv {
    margin-left: ;
    
}
.sp {
    margin-left: ;
    height: 20px;
    width: 200px;
}
fieldset {
    width: 550px;
    color: rgb(79, 33, 126);
    text-shadow: 2px 2px whitesmoke;
}
form {
    color: rgb(79, 33, 126);
    text-shadow: 2px 2px whitesmoke;
}
.rodape{
    margin-top: 42.3vh;
    width: 100%;
}
.layout-nav {
    width: 100%;
}


