@font-face {
    font-family: 'Smooch';
    src: url('../font/Smooch-Regular.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Amatic SC';
    src: url('../font/AmaticSC-Regular.ttf') format('truetype');
  }  
  @font-face {
    font-family: 'Maven Pro';
    src: url('../font/MavenPro-VariableFont_wght.ttf') format('truetype');
  }
#logo {
    border-radius: 100%;
}
.layout-nav {
    background-color: #ffd980;
   
}
.dropdown-menu {
    background-color: black;
}
.font-drop {
    color: aliceblue;
}
.submenu {
    display: none;
}
.hover-sub:hover .submenu{
    display: block;
    position: absolute;
    margin-top: -4vh;
    margin-left: 15.7vh;
    background-color: black;
    border-radius: 7%;
}
.rodape {
    background-color: #ffd980;
    margin-top: 74vh;
    width: 100%;
    height: 6vh;
   
}
.linha-rdp {
    background-color: #575c72;
    margin-top: 77.8vh;
    width: 100%;
    height: 1.8vh;
}
.txt-rdp {
    text-align: end;
    margin-right: 3vh;
}
.butao {
    margin-left: 20vh;
}
.titulo {
    margin-right: 50vh;
    font-family: Smooch;
    font-size: 6vh;
}
body {
    background-image: linear-gradient(to right,#ffd980,#FFE56F,#FFD82B,#FFC316,#FFB31A);
    size: 100%;
}